
#header {
	text-align: center;
	background: #9be1d6;
	padding: 100px 0 25px;
	overflow: hidden;
	position: relative;
	h1 {
		font-size: 2.2em;
		position: relative;
		z-index: 2;
		span {
			display: inline-block;
			background: #222;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			line-height: 40px;
			color: #fff;
			text-align: center;
		}
	}
	.main-cloud {
		position: absolute;
		bottom: -60px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
	}
	.cloud {
		background: #fff;
		border-radius: 100px;
		height: 120px;
		width: 350px;
		pointer-events: none;
		&:after,
		&:before {
			background: #fff;
			content: '';
			position: absolute;
			z-indeX: -1;
		}
	
		&:before {
			border-radius: 200px;
			width: 180px;
			height: 180px;
			right: 50px;
			top: -90px;
		}
		&:after {
			border-radius: 100px;
			height: 100px;
			left: 50px;
			top: -50px;
			width: 100px;
		}
	}
	.bg-clouds {
		.cloud {
			position: absolute;
			left: 0;
			bottom: 0;
			&:hover {
				opacity: 1;
			}
		}
	}
	.cloud-1 {
		animation: animateCloud 35s linear infinite;
		transform: scale(0.65);
		opacity: 0.5;
	}
	
	.cloud-2 {
		animation: animateCloud 20s linear infinite;
		transform: scale(0.3);
		opacity: 0.6;
	}
	
	.cloud-3 {
		animation: animateCloud 30s linear infinite;
		transform: scale(0.5);
		opacity: 0.3;
	}
	
	.cloud-4 {
		animation: animateCloud 18s linear infinite;
		transform: scale(0.4);
		opacity: 0.25;
	}
	
	.cloud-5 {
		animation: animateCloud 25s linear infinite;
		transform: scale(0.55);
		opacity: 0.65;
	}
}

@keyframes animateCloud {
    0% {
        margin-left: -300px;
    }
    100% {
        margin-left: 100%;
    }
}

#content {
	padding: 30px 0;
	position: relative;
	z-index: 2;
}

#nav-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 0 30px;
	a {
		padding: 5px 20px;
		color: #222;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.1;
		text-transform: uppercase;
		&:hover,
		&.active {
			color: #65d2c1;
		}
	}
}

#footer {
	padding: 0 0 50px;
	font-size: 14px;
	text-align: center;
	.heart {
		color: red;
	}
}