<ul class="pagination" *ngIf="cPages">
	<li class="first" *ngIf="cPage > 1">
		<a routerLink="/products/{{ cQuery }}/1">First</a>
	</li>
	<li *ngIf="cPage > 2">
		<a routerLink="/products/{{ cQuery }}/{{ (cPage - 2) }}">{{ (cPage - 2) }}</a>
	</li>
	<li *ngIf="cPage > 1">
		<a routerLink="/products/{{ cQuery }}/{{ (cPage - 1) }}">{{ (cPage - 1) }}</a>
	</li>
	<li class="current">
		<a routerLink="/products/{{ cQuery }}/{{ cPage }}">{{ cPage }}</a>
	</li>
	<li *ngIf="(cPage + 1) < cPages">
		<a routerLink="/products/{{ cQuery }}/{{ (cPage + 1) }}">{{ (cPage + 1) }}</a>
	</li>
	<li *ngIf="(cPage + 2) < cPages">
		<a routerLink="/products/{{ cQuery }}/{{ (cPage + 2) }}">{{ (cPage + 2) }}</a>
	</li>
	<li class="last" *ngIf="(cPage + 1) < cPages">
		<a routerLink="/products/{{ cQuery }}/{{ cPages }}">Last</a>
	</li>
</ul>