<div id="add-item" class="add-item">
	<form class="form" (ngSubmit)="onAdd()">
		<div class="form__group form__group--group1">
			<div class="form__row form__row--inline">
				<div class="form__field form__field--name">
					<label class="sr-only" for="name">Name:</label>
					<input type="text" name="name" [(ngModel)]="name" placeholder="name"/>
				</div>
				<div class="form__field form__field--category">
					<select name="cat" (change)="onCatSelect($event.target.value)">
						<option [value]="null" [selected]="!cat || !selectedCat">select category</option>
						<option *ngFor="let cat of categories" [value]="cat.id" [selected]="cat.id == selectedCat">
							{{cat.name}}
						</option>
					</select>
				</div>
			</div>
			<div class="form__submit">
				<button class="btn btn--save" type="submit">Add item</button>
				<button class="more-link" (click)="showMore(); false">{{ moreStatus ? 'Less' : 'Show more' }}</button>
			</div>
		</div>
		<div class="form__more" [@openClose]="moreStatus ? 'open' : 'closed'">
			<div class="form__group form__group--group2">
				<div class="form__row form__row--inline">
					<div class="form__field form__field--quantity">
						<label class="sr-only" for="quantity">Quantity:</label>
						<input type="number" name="quantity" [(ngModel)]="quantity" placeholder="quantity"/>
					</div>
					<div class="form__field form__fiels--price">
						<label class="sr-only" for="price">Price:</label>
						<input type="number" name="price" [(ngModel)]="price" placeholder="price"/>
					</div>
				</div>
				<div class="form__row">
					<div class="form__field form__field--note">
						<label class="sr-only" for="note">Note:</label>
						<textarea name="note" [(ngModel)]="note" placeholder="note"></textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>