.add-item {
	margin: 30px 0;
	.form__group {
		padding-right: 120px;
		position: relative;
		.form__row {
			textarea {
				max-width: 100%;
			}
		}
		.form__submit {
			.btn {
				position: absolute;
				top: 0;
				right: 0;
			}
			.more-link {
				position: absolute;
				top: 60px;
				right: 20px;
				background: none;
				border: none;
				color: #222;
				padding: 0;
				font-size: 12px;
			}
		}
	}
	.form__more {
		overflow: hidden;
	}
}