<div class="filters">
    <ul class="filters__list">
        <li class="filters__item" [class.filters__item--active]="selected==null"><button class="filters__btn" (click)="onSelect()">All</button></li>
        <li *ngFor="let category of categories" class="filters__item" [class.filters__item--active]="selected==category.id">
            <button
            class="filters__btn"
            (click)="onSelect(category)"
            [ngStyle]="category.color && { 'background': category.color }"
            >{{category.name}}</button>
        </li>
    </ul>
    <div *ngIf="total" class="filters__total">Total: <strong>${{ total }}</strong></div>
</div>